<p style="color: green"><%= notice %></p>

<%= render @list %>

<div>
  <%= link_to "Edit this todo", edit_list_path(@list) %> |
  <%= link_to "Back to all todos", lists_path %>

  <%= button_to "Destroy todo", @list, method: :delete %>
</div>
